<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203565962037-h6u52pa4u4m5cin5qruhtk30hqnmv8r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203565962037-h6u52pa4u4m5cin5qruhtk30hqnmv8r0</string>
	<key>API_KEY</key>
	<string>AIzaSyCcH4OliXdxnrh5nkkCd8zYBkh1Yc7bwdg</string>
	<key>GCM_SENDER_ID</key>
	<string>203565962037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TechLoop.TechMedia</string>
	<key>PROJECT_ID</key>
	<string>techloop-social</string>
	<key>STORAGE_BUCKET</key>
	<string>techloop-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203565962037:ios:b33179df41faacdd</string>
	<key>DATABASE_URL</key>
	<string>https://techloop-social.firebaseio.com</string>
</dict>
</plist>